.Label {
    font-size: 50px;
    font-weight: bold;
}

textarea {
    resize: none;
    border-radius: 10px;
    height: 100px;
    width: 80vw;
    font-size: calc(10px + 2vmin);
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    background-color: rgba(92, 209, 203, 0.726);
}