@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.Home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TitleCN {
    font-family: 'Microsoft YaHei', cursive;
    font-weight: normal;
    font-size: 10vh;
    margin: 0 0 50px 0;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
}

p {
    margin: 10px;
}
